div.cart {
  position: fixed;
  width: 100vw;
  max-width: 420px;
  height: 100vh;
  top: 100px;
  right: 0;
  padding: 5vw;
  /* background-color: red; */
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.21);
  backdrop-filter: blur(10px);
  overflow: scroll;
  transform: translateX(100%);
  transition: 420ms;
}

div.cart div.cart-item {
  background-color: red;
  outline: 2px solid white;
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.cart-item div.cart-item-details {
  color: white;
}

div.cart h1.cart-total-amount {
  color: white;
}

div.cart.open {
  transform: translateX(0);
}

div.cart-item-delete-button {
  width: 100%;
  height: 100%;
  max-width: 2rem;
  max-height: 2rem;
}

div.cart-item-delete-button svg {
  width: 100%;
  height: 100%;
}
