div.slider {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

div.slider {
  display: flex;
  align-items: center;
  /* position: absolute; */
  justify-content: center;
  width: 100vw;
  height: 100vh;
  transition: 700ms ease-in-out;
  /* background-color: blue; */
}

div.slider div.slider-item img.slider-background-image {
  height: 100vh;
  /* transform: translateX(10%); */
}

div.slider h1.slider-item-text {
  position: absolute;
  color: rgba(255, 255, 255, 1);
  font-size: 15vw;
  transform: translateY(-50%);
  transform: translate3d(0, -50%, 0); /*GPU*/
  z-index: 1;
}
